//=============================================
.page {
	// .page__hero
	&__hero {
	}
}
.hero {
	background: url("@img/hero/bg-hero.jpg") center / cover no-repeat;
	@media (max-width: em(600)) {
		background: url("@img/hero/bg-hero.jpg") 0% 0% / cover no-repeat;
	}
	// .hero__container
	&__container {
	}
	// .hero__body
	&__body {
		@include adaptiveValue("padding-bottom", 92, 66);
	}
	// .hero__footer
	&__footer {
	}
	// .hero__subtitles
	&__subtitles {
		text-shadow: 3px 2px 6px #00000062;
		@include adaptiveValue("margin-bottom", 58, 56);
		@include adaptiveValue("gap", 25, 9);
		@media (max-width: em(600)) {
			justify-content: end;
		}
		// @media (max-width: $mobile) {
		// 	justify-content: end;
		// }
	}
	// .hero__row
	&__row {
		display: flex;
		justify-content: space-between;
		column-gap: toRem(20);
		row-gap: toRem(68);
		@media (max-width: em(600)) {
			flex-direction: column;
		}
		// @media (max-width:$mobile){
		// 	flex-direction: column;

		// }
	}
	// .hero__titles
	&__titles {
		display: flex;
		flex-direction: column;
		gap: toRem(10);
		@include adaptiveValue("min-width", 600, 560, 0, 1290, 991.98);
		@media (max-width: $tablet) {
			min-width: auto;
		}
	}
	// .hero__textles
	&__textles {
		flex-direction: column;
		&::before {
			font-size: toRem(29);
			@include adaptiveValue("margin-bottom", 22, 14);
		}
		p {
			@extend %grad-color;
		}
	}
	//*****************
	.titles {
		// .titles__title
		&__title {
			@include adaptiveValue("font-size", 54, 32);
			position: relative;
			display: inline-block;
			align-self: start;
		}
		// .titles__text
		&__text {
			align-self: end;
			transform: translate(0px, -48px);
			color: #fff;
			@include adaptiveValue("font-size", 16, 12);
			font-weight: 400;
			line-height: 130%;
			@media (max-width: $tablet) {
				align-self: start;
				transform: translate(0px, 0px);
			}
			max-width: toRem(260);
		}
	}
	//*****************
	.textles {
		// .textles__item
		&__item {
		}
	}
	//-----------------------------------------------------------
	.footer-body {
		@include adaptiveValue("padding-top", 80, 48);
		@include adaptiveValue("padding-bottom", 68, 48);
		background: rgba(0, 0, 0, 0.7);
		// .footer-body__container
		&__container {
		}
		// .footer-body__list
		&__list {
			display: flex;
			justify-content: space-between;
			row-gap: toRem(38);
			// @include adaptiveValue("column-gap", 95, 470, 1290, 767.98);
			@media (max-width:$mobile){
				flex-wrap: wrap;
				// justify-content: space-around;
			}
		}
		// .footer-body__item
		&__item {
			flex: 0 1 20%;
			border-bottom: 3px solid #fff;
			padding-bottom: toRem(20);
			// @include adaptiveValue("max-width", 240, 113, 0, 1290, 767.98);
			@media (max-width: $mobile) {
				flex: 0 1 45%;
			}
		}
		// .footer-body__link
		&__link {
			font-family: Unbounded;
			@include adaptiveValue("font-size", 15, 12, 0, 1290, 767.98);
			font-weight: 400;
			@extend %grad-color;
			white-space: nowrap;
		}
	}
}

//=============================================
