// Заголовки, общие БЄМ блоки и проче...
.page {
	// .page__hero
	&__hero {
		@include adaptiveValue("padding-top", 407, 163);
		// @include adaptiveValue("padding-bottom", 100, 60);
	}
	// .page__reality
	&__reality {
		@include adaptiveValue("padding-top", 100, 60);
		@include adaptiveValue("padding-bottom", 185, 85);
	}
	// .page__we
	&__we {
		@include adaptiveValue("padding-bottom", 100, 60);
	}
	// .page__help
	&__help {
		@include adaptiveValue("padding-bottom", 100, 60);
	}
	// .page__experience
	&__experience {
		@include adaptiveValue("padding-bottom", 100, 60);
	}
	// .page__our
	&__our {
		@include adaptiveValue("padding-bottom", 100, 60);
	}
}
//================================
// @extend %grad-color;
%grad-color {
	background: linear-gradient(91deg, #c6f1f7 -4.01%, #f983e9 36.14%, #b877ff 77.44%, #c2e9cd 106.11%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

//=============================================================================

/* 
<div class="ИМЯ РОДОКА__titles titles !titles--decor !titles--decor-t !titles--decor-b">
	<div class="titles__title">
		<h2 class="titles__style">Influence your <br> audience</h2>
	</div>
</div>
*/
/* Titles */
.titles {
	font-weight: 300;
	font-family: Unbounded;
	&__title {
		@extend %grad-color;
	}
	&__text {
		color: #fff;
		font-size: 16px;
		font-weight: 400;
		line-height: 130%;
	}
	// .titles--decor
	&--decor {
		display: inline-block;
		position: relative;
	}
	// .titles--decor-t
	&--decor-t {
		// position: relative;
		&::before {
			@extend %grad-color;
			content: "˜˜˜˜˜˜˜˜˜˜";
			position: absolute;
			@include adaptiveValue("top", -20, -10);
			right: 0;
			font-family: Unbounded;
			@include adaptiveValue("font-size", 48, 32);
			font-weight: 300;
			@include adaptiveValue("letter-spacing", -9.6, -7);
		}
	}
	// .titles--decor-b
	&--decor-b {
		&::after {
			@extend %grad-color;
			content: "˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜˜";
			position: absolute;
			bottom: 0;
			left: 0%;
			font-family: Unbounded;
			@include adaptiveValue("font-size", 48, 32);
			font-weight: 300;
			@include adaptiveValue("letter-spacing", -9.6, -7);
			transform: translate(0px, 85%);
		}
	}
	// .titles__title
}

//=============================================================================
/* textles */
/* 
<div class="ИМЯ РОДОКА__textles textles">
	<div class="textles__item text text--nr text--sm">
		<p></p>
		<p></p>
	</div>
	<div class="textles__item text text--nr text--sm">
		<p></p>
		<p></p>
	</div>
</div>
*/
.textles {
	display: flex;
	// .textles__item
	&__item {
	}
}
.text {
	color: #e4e4e4;
	font-size: 14px;
	// line-height: normal;
	line-height: 17px;
	max-width: toRem(432);
	&--nr {
		max-width: toRem(373);
	}
	&--sm {
		max-width: toRem(216);
	}
	p {
		&:not(:last-child) {
			margin-bottom: toRem(18);
		}
	}
}
//=============================================================================
/*
<div class="hero__subtitles subtitles">
	<div class="subtitles__item subtitles__item--1 subtitles__item--col">
		<p>2023</p>
	</div>
	<div class="subtitles__item subtitles__item--txt subtitles__item--col">
		<p>hi there, let's get started!</p>
	</div>
</div>
*/
// .hero {
// 	// .hero__subtitles
// 	&__subtitles {
// 		@include adaptiveValue("gap", 25, 9);
// 		@media (max-width:$mobileSmall){
// 			justify-content: end;
// 		}
// 	}
// }

.subtitles {
	display: flex;
	align-items: center;
	// .subtitles__item
	&__item {
		font-size: 12px;
		font-weight: 400;

		&--1 {
			font-family: Unbounded;
			@include adaptiveValue("font-size", 27, 32);
			font-weight: 250;
			line-height: 130%;
		}
		&--txt {
			max-width: toRem(82);
		}
		&--col {
			@extend %grad-color;
		}
	}
}
